@import "tailwindcss";
@plugin "daisyui";
.slick-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slick-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .next-arrow {
    right: 10px;
  }
  
  .prev-arrow {
    left: 10px;
  }
  